<h2>Most popular News</h2>
<div class="most-popular-news">
    <div class="general-news-item">
        <picture>
            <img src="https://via.placeholder.com/600x200" alt="">
        </picture>
        <div class="space-between">
            <h3>News title</h3>
            <span>Date</span>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo reprehenderit accusamus sunt fugit facilis, autem ea laudantium, inventore asperiores, eos sint! Placeat nihil id aperiam alias voluptate porro, optio deserunt?</p>
    </div>
    <div>
        <wisp-small-size-news-item></wisp-small-size-news-item>
    </div>
</div>