<div class="related-goods-card">
    <div class="related-goods-card__img">
        <img src="https://via.placeholder.com/150x80/fd7e14/343a40" alt="">
    </div>
    <div class="related-goods-card__wrapp">
        <div class="related-goods-card__title">
            <h5>Username</h5>
        </div>
        <div class="related-goods-card__text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur omnis cum voluptatum tenetur rerum velit. Sed voluptas distinctio enim culpa esse asperiores quis, deleniti obcaecati assumenda exercitationem, repellendus dolor temporibus?</p>
        </div>
        <div class="related-goods-card__more">
            <a href="#" class="related-goods-card__link">More...</a>
        </div>
    </div>
</div>