<div class="main-block">
    <aside class="column-block column-block--left">
        <ul *ngIf="categoriesList" class="category-list">
            <li *ngFor="let category of categoriesList | async" class="category-list__item">
                <a class="category-list__link btn btn-primary" href="#">{{category.title}}</a>
            </li>
        </ul>
    </aside>
    <section *ngIf="newsCategoryPage" class="column-block column-block--central">
        <h1>{{newsCategoryPage.title}}</h1>
        <p>{{newsCategoryPage.text}}</p>

        <article *ngIf="newsList" class="news-list">
            <div *ngFor="let item of newsList" class="news-card">
                <img class="news-card__image" src={{item.image}} alt="" />
                <h4 class="news-card__title">{{item.title}}</h4>
                <p class="news-card__text">{{item.description}}</p>
                <div class="news-card__battom">
                    <span class="news-card__date">{{ item.date | date:'mediumDate'}}</span>
                   <a href="#" class="news-card__more btn btn-info">More</a>
                </div>
            </div>
            <div class="pagination-module">
                <pagination  [totalItems]="totalItems" [(ngModel)]="currentPage"></pagination>
            </div>

        </article>
    </section>
</div>