<div class="main-block">
    <aside class="column-block column-block--left">
        <app-news-sidebar [inputData]="categoriesList | async"></app-news-sidebar>
    </aside>
    <section *ngIf="(newsCategoryPage | async)" class="column-block column-block--central">
        <article>
            <app-h1 [data]="(newsCategoryPage | async)?.title" ></app-h1>
            <app-p [data]="(newsCategoryPage | async)?.text"></app-p>
        </article>
         <article  class="news-list">
            <app-news-medium-card *ngFor="let item of (newsCategoryPage|async)?.news" [cardItem]="item"></app-news-medium-card>
            <div class="pagination-block">
                <app-pagination [totalItems]="totalItems" [currentPage]="currentPage"></app-pagination>
            </div>
        </article>
    </section>
</div>
