<div class="container">
    <section class="section-page">
        <div class="row section-page__row">
            <div class="col">
                <h1>Goods item</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Deleniti id, voluptas nesciunt possimus odit fugit tenetur
                    perferendis culpa inventore at quod nulla minima ipsa rem
                    sunt consequuntur sapiente a ipsum! Lorem ipsum dolor, sit
                    amet consectetur adipisicing elit. Velit deleniti enim magnam
                    sit, aliquam molestias voluptate amet, quae aut dolore
                    voluptates in ex sapiente non ipsam consequuntur minima
                    recusandae maxime.</p>
            </div>
        </div>
        <div class="row section-page__row">
            <div class="col">
                <img src="https://via.placeholder.com/500x400/28a745/343a40" alt="">
            </div>
            <div class="col">
                <app-table-parameters></app-table-parameters>
            </div>
        </div>
        <div class="row section-page__row">
            <div class="col">
                <app-delivered-item></app-delivered-item>
                <app-wished-item></app-wished-item>
                <app-share-panel></app-share-panel>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary btn-lg">
                    Order Now
                </button>
            </div>
        </div>
        <div class="row section-page__row">
            <div class="col">
                <app-gallery></app-gallery>
            </div>
        </div>
    </section>
    <section class="section-page">
        <h4>Comments</h4>
        <app-comment-list></app-comment-list>
    </section>
    <section class="section-page">
        <h4>Rekated goods</h4>
        <app-related-goods-list></app-related-goods-list>
    </section>
</div>
