<div class="table-parameters">
    <h5>Item Parameters</h5>
    <table class="table table-bordered table-sm">
        <thead>
            <tr>
                <th scope="col">Parameter</th>
                <th scope="col">Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <td>Larry the Bird</td>
                <td>@twitter</td>
            </tr>
        </tbody>
    </table>
</div>