<div class="sharepanel">
    <span class="sharepanel__text">Share: </span>

    <ul class="sharepanel__menu">
        <li class="sharepanel__menu-item">
            <app-share-btn></app-share-btn>
        </li>
        <li class="sharepanel__menu-item">
            <app-share-btn></app-share-btn>
        </li>
        <li class="sharepanel__menu-item">
            <app-share-btn></app-share-btn>
        </li>
        <li class="sharepanel__menu-item">
            <app-share-btn></app-share-btn>
        </li>
    </ul>
</div>