.sharepanel {
    display: flex;

    &__text {
        margin-right: 5px;
    }
    &__menu {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;

        &-item {
            list-style-type: none;
            margin: 0 2px;

            &:first-child {
                margin-left: 0
            }

            &:last-child {
                margin-right: 0
            }

        }
    }
}

app-share-btn {
    display: flex;
    align-items: center;
}